.vs/
packages/
bin/
obj/
logs/
lib/
*.user

*.o 
*.lo 
*.la 
*.al 
.libs 
*.so 
*.so.[0-9]* 
*.a 
*.pyc 
*.pyo 
*.rej 
*~ #*# .#* 
.*.swp 
.DS_Store 
Obj/
Debug/ 
Release/ 
debug/ 
release/ 
compile/ 
*.bak 
*.suo 
*.dll.config 
*.log 
*.obj 
*.pdb  
*/bin/ 
*/obj/ 
*.bak 
*.*scc 
*.suo 
*.webinfo 
*.csproj.user 
*.resharper.user 
*.resharper 
*.suo 
*.cache 
Build/
_ReSharper.*  
*.dll 
*.pdb 
*.xml