<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
    <variable name="defaultLayout" value="${longdate}|${level}|${message} ${exception:format=toString}"/>
    <targets>
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/log.txt"  layout="${defaultLayout}" />
      <target name="console" xsi:type="Console"  layout="${longdate}: ${message} " />
      <target name="mail" xsi:type="Mail"
              layout="${longdate}: ${message}"
              html="false"
              subject="Biblioteca API Error"
              to="vgorohova@gmail.com"
              cc="vgorohova@gmail.com"
              from="errors@biblioteca.com"
              enableSsl="false"
              smtpAuthentication="None"
              smtpUserName=""
              smtpPassword=""
              smtpServer="localhost"
              smtpPort="25" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile,console" />
      <logger name="*" minlevel="Error" writeTo="mail" />
    </rules>
  </nlog>
</configuration>