<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="9.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.9" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="ServiceStack" version="5.10.0" targetFramework="net461" />
  <package id="ServiceStack.Client" version="5.10.0" targetFramework="net461" />
  <package id="ServiceStack.Common" version="5.10.0" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="5.10.0" targetFramework="net461" />
  <package id="ServiceStack.Logging.NLog" version="5.0.0" targetFramework="net461" />
  <package id="ServiceStack.OrmLite" version="5.0.0" targetFramework="net461" />
  <package id="ServiceStack.OrmLite.SqlServer" version="5.0.0" targetFramework="net461" />
  <package id="ServiceStack.Text" version="5.10.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" targetFramework="net461" />
</packages>